@import "bootstrap/scss/bootstrap.scss";
@import "postlist.scss";
@import "cards.scss";
@import "project.scss";
@import "footer.scss";
@import "hero.scss";
@import "page.scss";
.blog-post-container {
    table {
        padding: 0;
    }
    table tr {
        border-top: 1px solid #cccccc;
        background-color: #ffffff;
        margin: 0;
        padding: 0;
    }
    table tr:nth-child(2n) {
        background-color: #f8f8f8;
    }
    table tr th {
        font-weight: bold;
        border: 1px solid #cccccc;
        text-align: left;
        margin: 0;
        padding: 6px 13px;
    }
    table tr td {
        border: 1px solid #cccccc;
        text-align: left;
        margin: 0;
        padding: 6px 13px;
    }
    table tr th :first-child,
    table tr td :first-child {
        margin-top: 0;
    }
    table tr th :last-child,
    table tr td :last-child {
        margin-bottom: 0;
    }

    ul li {
        margin-left: 2em;
    }

    li > ul {
        margin-left: unset;
    }
}

a.color-white {
    color: #fff !important;
}

a.hover-white {
    &:hover {
        color: #fff !important;
    }
}

ul.no-bullets {
    list-style: none;
}
