@import "bootstrap/scss/bootstrap.scss";
@import "postlist.css";
.main-content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10vh;
    min-height: 100vh;
    .subheading {
        display: flex;
        width: 30vw;
        margin-top: 30px;
        justify-content: flex-start;
        align-items: center;
    }
}

h1 {
    &.huge {
        font-size: 20vh;
        line-height: 22vh;
        font-family: Palatino, serif;
    }

    &.bold {
        font-weight: 900;
    }
}

table {
    padding: 0;
}
table tr {
    border-top: 1px solid #cccccc;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr th :first-child,
table tr td :first-child {
    margin-top: 0;
}
table tr th :last-child,
table tr td :last-child {
    margin-bottom: 0;
}

.theme-bg {
    background-color: var(--primary-color); // #e0dbf6;
    a {
        color: var(--primary-text-color);
    }
    .nav-item {
        a {
            color: var(--primary-text-color);
        }
        margin-bottom: 0;
    }
}
