.footer {
    background: var(--primary-color);
    color: white;

    .links {
        ul {
            list-style-type: none;
        }
        li a {
            color: white;
            transition: color 0.2s;
            &:hover {
                text-decoration: none;
                color: var(--primary-color);
            }
        }
    }
}
