$primary-color: #624ad0;
$primary-text-color: #fff;

:root {
    --primary-color: #624ad0;
    --primary-dark: #332282;
    --primary-text-color: #fff;
    --primary-dark-text-color: #fff;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
* {
    margin-top: 0;
}
/* System Fonts as used by Medium and WordPress */
body {
    background-color: #e6e8f5;
    //background-color: #fff;
    border-top: 2px solid $primary-color;
    border-bottom: 2px solid $primary-color;
}
a {
    color: $primary-color;
    text-decoration: none;
    &:hover {
        color: var(--primary-dark);
        text-decoration: none;
    }
}

.post {
    padding: 0;
    background: white;
    line-height: 1.5;
    > .blog-post-content {
        // max-width: 768px;
        max-width: 1024px;
        margin: 4em auto;
    }
    > .blog-post-content *:last-child,
    > *:last-child {
        margin-bottom: 0;
    }
    .post-title {
        text-align: center;
        margin: 0 0 0.5rem;
        line-height: 1.3;
        font-size: 2rem;
    }
    .post-meta {
        margin-bottom: 32px;
        text-align: center;
    }
}
